[submodule "GUJIAFENG"]
	path = GUJIAFENG
	url = https://github.com/GUJIAFENG/cd2024.git
[submodule "BX41023132"]
	path = BX41023132
	url = https://github.com/BX41023132/cd2024.git
[submodule "41039138"]
	path = 41039138
	url = https://github.com/GUJIAFENG/cd2024.git
[submodule "new_submodule_name"]
	path = 41023132
	url = https://github.com/BX41023132/cd2024.git
[submodule "cd2024"]
	path = cd2024
	url = https://github.com/BX41023132/cd2024
